
body{
    background-image: url(image2.jpg);
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
 

}
.home{
    background-color: black;
    color: white;
    border: 0;
    border-radius: 20px;
    margin: 40px;
    padding: 15px;
    text-transform: uppercase;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50PX 40PX;
}
.word-color{
    color: red;
}
nav ul{
   display: flex;
   align-items: center;
  
}
nav ul li{
    margin-right: 20px;
    list-style: none;
    color: white;
   
}
nav ul li a{
    text-decoration: none;
    font-size: 25px;
}
.contact a{
    background-color: black;
    color: white;
    border: 0;
    border-radius: 20px;
    margin:40px;
    padding: 15px;
    font-weight: bold;
    font-size: 30px;
}
.fa-solid{
    margin-right: 10px;
    color:red;
}
.banner{
    display: flex;
    margin: 0 100px;
    background-color: cornsilk;
}
.img-1{
    margin: 20px;
    height: 400px;
    width: 500px;
    border-radius: 50%;
    border: 1px solid black;
}
.description{
    margin: 20px;
}
.download {
display: flex;

}
.download  li{
    list-style: none;
    margin: 10px;
    background-color: black;
    border: 0;
    border-radius: 20px;
    margin: 40px;
    padding: 15px;
  
}
.download  li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
/* main section */
main{
    max-width:1140px;
    margin: 0 auto;
}


/* about section */
.about{
    margin-top: 10px;

padding:10px 150px ;
background-color: bisque;
border-radius: 10px;

}
.section-title{
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 5px;
    padding-top: 5px;

}
.section-description{
   
    color: black;
    font-size: 20px;
    padding-top: 0;
    width: 400px;
    margin: auto;
    text-align: center;

}
.about-info-container{
    margin-top: 30px;
    display: flex;
    justify-content:space-around;
    font-size: 20px;
}
.info-title{
    color: teal;
    margin-right: 30px;
}
.info-description{
    margin-right: 30px;
    font-weight: bold;
}
/* what i do */
.c-1{
   text-align: center;
   text-transform: capitalize;
   font-size: 30px;
   font-weight: bold;

}
.c-2{
    font-size: 20px;
    
    border-radius: 20px;
    padding: 20px;
    
}
.section-title{
    text-transform: capitalize;
    margin: 100px 10px;
}
.img{
    width: 200px;
    height: 150px;
  
}
.my-skill{
    display: flex;
}
.skill-title{
    font-weight: bold;
    font-size: 30px;
    text-transform: capitalize;
}
.skill-description{
    font-size: 18px;
    margin: 15px;
}
.button {
    display: flex;
    justify-content: center;
   
}
.button button{
    font-size: 40px;
    border: 0;
    background-color: black;
    color: white;
    border-radius: 10px;
}

/* resumi content */
.parental-div{
    display: flex;
    margin: 50px 40px;
    background-color: rgb(221, 218, 218);
    padding: 30px;

}
.head{
    font-size: 40px;
    font-weight:bold;
    text-transform:capitalize;
    color: rgb(182, 1, 10);

}
.school-title{
    font-size: 30px;
    font-weight:bold;
    text-transform:capitalize;

}
.school-name{
    font-size: 20px;
    font-weight:bold;
    text-transform:capitalize;
}
.about-school{

}
.experince{
    font-size: 40px;
    font-weight:bold;
    text-transform:capitalize;
    color: rgb(38, 0, 255);
}
.first-work{
    font-size: 30px;
    font-weight:bold;
    text-transform:capitalize;
}
.second-work{
    font-size: 20px;
    font-weight:bold;
    text-transform:capitalize;
}
.third-work{

}
.section-title{
    text-transform: capitalize;
    background-color: azure;
}
/* footer */
.finishing{
    display: flex;
   gap: 100px;
   margin: 50px 300px;
}
.submit{
   font-size: 40px;
   background-color: black;
   color: white;
   border: 0;
   border-radius: 10px;
}
.left-side{
    text-align: center;
}
.Connect{
    font-size: 40px;
}
.comment{
   
}
.fa-brands{
    font-size: 50px;
    margin: 20px;
    background-color:black;
    color: white;
    border-radius: 10px;
}
.right-side{
    text-transform: capitalize;
    font-weight: bold;
    font-size: 20px;
}



